In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
training_data_path = "./train.csv"
training_data = pd.read_csv(training_data_path)

In [2]:
training_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Noting down some useful metrics:
- ~0.384 of the people survived.
- More than half of the passengers were 3rd class.
- More than half of the passengers were unmarried.
- More than 75% of the passengers did not have parents or children on board.

In [3]:
training_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Comments:
- Name, Ticket number, Cabin, and Embarked are not as important as other columns on here
- SibSp and Parch only applies to some inputs

In [4]:
training_data.columns[training_data.isnull().any()]

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

Using \['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'\]. Sex needs to be encoded.

In [5]:
training_data.Sex.unique()

array(['male', 'female'], dtype=object)

Preprocessing:

In [6]:
from preprocess import train_preprocess
training_features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
train_X_processed, val_X_processed, train_y, val_y = train_preprocess(training_data, training_features)

In [7]:
print(train_X_processed.head())
print(val_X_processed.head())

   Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0     3.0  28.0    0.0    0.0   7.8958         0.0       1.0
1     3.0  17.0    4.0    2.0   7.9250         1.0       0.0
2     3.0  30.0    1.0    0.0  16.1000         0.0       1.0
3     3.0  22.0    0.0    0.0   7.2500         0.0       1.0
4     2.0  45.0    0.0    0.0  13.5000         1.0       0.0
   Pclass   Age  SibSp  Parch      Fare  Sex_female  Sex_male
0     3.0  29.9    0.0    0.0   14.4583         0.0       1.0
1     3.0  29.9    0.0    0.0    7.5500         0.0       1.0
2     3.0   7.0    4.0    1.0   29.1250         0.0       1.0
3     1.0  29.9    1.0    0.0  146.5208         1.0       0.0
4     3.0  29.0    0.0    2.0   15.2458         1.0       0.0

In [8]:
from sklearn.ensemble import RandomForestClassifier
model_randomforest = RandomForestClassifier(random_state=1)
model_randomforest.fit(train_X_processed, train_y)

RandomForestClassifier(random_state=1)

In [9]:
from sklearn.metrics import accuracy_score
y_pred = model_randomforest.predict(val_X_processed)
print(accuracy_score(val_y, y_pred))

0.8385650224215246

In [17]:
test_data_path = "./test.csv"
test_data = pd.read_csv(test_data_path)
from preprocess import test_preprocess
X = test_preprocess(test_data, training_features)
survived = pd.DataFrame(model_randomforest.predict(X))
survived = survived.rename(columns={0:'Survived'})
df_subm = pd.concat([test_data['PassengerId'], survived], axis=1)
print(df_subm)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [18]:
df_subm.to_csv('./out.csv',index=False)

'PassengerId,Survived\r\n892,0\r\n893,0\r\n894,0\r\n895,1\r\n896,0\r\n897,0\r\n898,0\r\n899,0\r\n900,1\r\n901,0\r\n902,0\r\n903,0\r\n904,1\r\n905,0\r\n906,1\r\n907,1\r\n908,0\r\n909,1\r\n910,0\r\n911,0\r\n912,0\r\n913,1\r\n914,1\r\n915,0\r\n916,1\r\n917,0\r\n918,1\r\n919,1\r\n920,1\r\n921,0\r\n922,0\r\n923,0\r\n924,1\r\n925,0\r\n926,1\r\n927,0\r\n928,0\r\n929,0\r\n930,0\r\n931,0\r\n932,0\r\n933,0\r\n934,0\r\n935,1\r\n936,1\r\n937,0\r\n938,1\r\n939,0\r\n940,1\r\n941,0\r\n942,1\r\n943,0\r\n944,1\r\n945,1\r\n946,0\r\n947,0\r\n948,0\r\n949,0\r\n950,0\r\n951,1\r\n952,0\r\n953,0\r\n954,0\r\n955,1\r\n956,1\r\n957,1\r\n958,1\r\n959,0\r\n960,0\r\n961,1\r\n962,1\r\n963,0\r\n964,1\r\n965,1\r\n966,1\r\n967,0\r\n968,0\r\n969,1\r\n970,0\r\n971,1\r\n972,1\r\n973,0\r\n974,0\r\n975,0\r\n976,0\r\n977,0\r\n978,1\r\n979,1\r\n980,0\r\n981,1\r\n982,0\r\n983,0\r\n984,1\r\n985,0\r\n986,0\r\n987,0\r\n988,1\r\n989,1\r\n990,1\r\n991,0\r\n992,1\r\n993,0\r\n994,0\r\n995,0\r\n996,1\r\n997,0\r\n998,0\r\n999,0\r\n1000,0\r\n1001,0\r\n1002,0\r\n1003,0\r\n1004,1\r\n1005,1\r\n1006,1\r\n1007,0\r\n1008,0\r\n1009,1\r\n1010,0\r\n1011,1\r\n1012,1\r\n1013,0\r\n1014,1\r\n1015,0\r\n1016,0\r\n1017,0\r\n1018,0\r\n1019,1\r\n1020,1\r\n1021,0\r\n1022,1\r\n1023,1\r\n1024,0\r\n1025,0\r\n1026,0\r\n1027,0\r\n1028,0\r\n1029,0\r\n1030,0\r\n1031,0\r\n1032,0\r\n1033,1\r\n1034,0\r\n1035,0\r\n1036,1\r\n1037,0\r\n1038,0\r\n1039,0\r\n1040,0\r\n1041,0\r\n1042,1\r\n1043,0\r\n1044,0\r\n1045,0\r\n1046,0\r\n1047,0\r\n1048,1\r\n1049,1\r\n1050,1\r\n1051,1\r\n1052,0\r\n1053,1\r\n1054,1\r\n1055,0\r\n1056,0\r\n1057,1\r\n1058,0\r\n1059,0\r\n1060,1\r\n1061,0\r\n1062,0\r\n1063,0\r\n1064,0\r\n1065,0\r\n1066,0\r\n1067,1\r\n1068,1\r\n1069,0\r\n1070,1\r\n1071,1\r\n1072,0\r\n1073,0\r\n1074,1\r\n1075,0\r\n1076,1\r\n1077,0\r\n1078,1\r\n1079,0\r\n1080,0\r\n1081,0\r\n1082,0\r\n1083,0\r\n1084,1\r\n1085,0\r\n1086,1\r\n1087,0\r\n1088,1\r\n1089,0\r\n1090,0\r\n1091,0\r\n1092,1\r\n1093,1\r\n1094,0\r\n1095,1\r\n1096,0\r\n1097,0\r\n1098,0\r\n1099,0\r\n1100,1\r\n1101,0\r\n1102,0\r\n1103,0\r\n1104,0\r\n1105,1\r\n1106,0\r\n1107,0\r\n1108,0\r\n1109,0\r\n1110,1\r\n1111,0\r\n1112,1\r\n1113,0\r\n1114,1\r\n1115,1\r\n1116,1\r\n1117,1\r\n1118,0\r\n1119,0\r\n1120,0\r\n1121,0\r\n1122,0\r\n1123,1\r\n1124,0\r\n1125,0\r\n1126,0\r\n1127,0\r\n1128,0\r\n1129,0\r\n1130,1\r\n1131,1\r\n1132,1\r\n1133,1\r\n1134,0\r\n1135,0\r\n1136,0\r\n1137,0\r\n1138,1\r\n1139,0\r\n1140,1\r\n1141,0\r\n1142,1\r\n1143,0\r\n1144,1\r\n1145,0\r\n1146,1\r\n1147,0\r\n1148,0\r\n1149,0\r\n1150,1\r\n1151,0\r\n1152,0\r\n1153,0\r\n1154,1\r\n1155,1\r\n1156,0\r\n1157,0\r\n1158,0\r\n1159,0\r\n1160,0\r\n1161,0\r\n1162,0\r\n1163,0\r\n1164,1\r\n1165,1\r\n1166,0\r\n1167,1\r\n1168,0\r\n1169,0\r\n1170,0\r\n1171,0\r\n1172,0\r\n1173,1\r\n1174,0\r\n1175,0\r\n1176,1\r\n1177,0\r\n1178,0\r\n1179,0\r\n1180,0\r\n1181,0\r\n1182,0\r\n1183,1\r\n1184,0\r\n1185,0\r\n1186,0\r\n1187,0\r\n1188,1\r\n1189,0\r\n1190,0\r\n1191,0\r\n1192,0\r\n1193,0\r\n1194,0\r\n1195,0\r\n1196,0\r\n1197,1\r\n1198,0\r\n1199,1\r\n1200,0\r\n1201,0\r\n1202,0\r\n1203,1\r\n1204,0\r\n1205,0\r\n1206,1\r\n1207,1\r\n1208,0\r\n1209,0\r\n1210,0\r\n1211,0\r\n1212,0\r\n1213,0\r\n1214,0\r\n1215,1\r\n1216,1\r\n1217,0\r\n1218,1\r\n1219,0\r\n1220,0\r\n1221,0\r\n1222,1\r\n1223,1\r\n1224,0\r\n1225,0\r\n1226,0\r\n1227,0\r\n1228,1\r\n1229,0\r\n1230,0\r\n1231,0\r\n1232,0\r\n1233,0\r\n1234,0\r\n1235,1\r\n1236,1\r\n1237,1\r\n1238,0\r\n1239,0\r\n1240,0\r\n1241,1\r\n1242,1\r\n1243,0\r\n1244,0\r\n1245,0\r\n1246,1\r\n1247,0\r\n1248,1\r\n1249,0\r\n1250,0\r\n1251,1\r\n1252,0\r\n1253,1\r\n1254,1\r\n1255,1\r\n1256,1\r\n1257,0\r\n1258,0\r\n1259,0\r\n1260,1\r\n1261,1\r\n1262,0\r\n1263,1\r\n1264,0\r\n1265,0\r\n1266,1\r\n1267,1\r\n1268,0\r\n1269,0\r\n1270,0\r\n1271,0\r\n1272,0\r\n1273,0\r\n1274,0\r\n1275,0\r\n1276,0\r\n1277,1\r\n1278,0\r\n1279,0\r\n1280,0\r\n1281,0\r\n1282,0\r\n1283,1\r\n1284,0\r\n1285,0\r\n1286,0\r\n1287,1\r\n1288,0\r\n1289,1\r\n1290,0\r\n1291,0\r\n1292,1\r\n1293,0\r\n1294,1\r\n1295,0\r\n1296,0\r\n1297,0\r\n1298,0\r\n1299,0\r\n1300,0\r\n1301,1\r\n1302,0\r\n1303,1\r\n1304,1\r\n1305,0\r\n1306,1\r\n1307,0\r\n1308,0\r\n1309,0\r\n'